<html lang="en">
	{% include 'header.html' %}
	<body>
		{% include 'nav.html' %}
		<div class="container">

			<br/>
			<h1>Cardiovascular Disease Calculator</h1>
			<br/>
			<p>This tool uses the The Framingham Risk formula, used to determine the risk of developing heart disease.</p>

			<p>Are you a GP? Login <a href="login">here</a></p>

			<hr>

			{% include 'converter.html' %}

			<hr>

			{% extends 'form.html' %}
			{% block extra_form %}
			{% if authenticated %}
				{% include 'authenticated_form.html' %}
			{% endif %}
			{% endblock extra_form %}
			
			<br />

		</div>
	</body>

</html>