<form id="form">
	<!-- Sex -->
	<fieldset class="row mb-3">
		<legend class="col-form-label col-sm-2 pt-0">Sex</legend>
		<div class="col-sm-10">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="sex" id="sex1" value="male">
				<label class="form-check-label" for="sex1">Male</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="sex" id="sex2" value="female">
				<label class="form-check-label" for="sex2">Female</label>
			</div>
		</div>
	</fieldset>

	<!-- Age -->
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Age (years, int)</label>
		<div class="col-sm-10">
			<input class="form-control" name="age">
		</div>
	</div>

	<!-- Smoker -->
	<fieldset class="row mb-3">
		<legend class="col-form-label col-sm-2 pt-0">Smok?</legend>
		<div class="col-sm-10">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="smoker" id="smok1" value="True">
				<label class="form-check-label" for="smok1">Oui</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="smoker" id="smok2" value="False">
				<label class="form-check-label" for="smok2">Non</label>
			</div>
		</div>
	</fieldset>

	<!-- Systolic -->
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Systolic (mmHg, int)</label>
		<div class="col-sm-10">
			<input class="form-control" name="systolic">
		</div>
	</div>

	<!-- Total Cholesterol -->
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Total Cholesterol (mg/dL, int)</label>
		<div class="col-sm-10">
			<input class="form-control" name="cholesterol">
		</div>
	</div>

	<!-- Total Cholesterol -->
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">HDL Cholesterol (mg/dL, int)</label>
		<div class="col-sm-10">
			<input class="form-control" name="hdl">
		</div>
	</div>

	<p>This section will only be saved if submitted to database</p>

	<!-- Birth Date -->
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Birth Date</label>
		<div class="col-sm-10">
			<input type="text" class="form-control datepicker" placeholder="Select Date" name="birth_date">
		</div>
	</div>

	<!-- NHS ID -->
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">NHS Number</label>
		<div class="col-sm-10">
			<input class="form-control" name="nhs_id">
		</div>
	</div>

	<!-- First Name -->
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">First Name</label>
		<div class="col-sm-10">
			<input class="form-control" name="first_name">
		</div>
	</div>

	<!-- Second Name -->
	<div class="row mb-3">
		<label class="col-sm-2 col-form-label">Second Name</label>
		<div class="col-sm-10">
			<input class="form-control" name="second_name">
		</div>
	</div>

	<input type="submit" class="btn btn-primary" value="calculate"/>

	<input type="submit" class="btn btn-primary" value="send"/>

</form>

<script>
$(function(){
	$('.datepicker').datepicker({
		format: 'yyyy-mm-dd'
	});
});
</script>